# tinted-jjui (https://github.com/vic/tinted-jjui)
# Scheme name: {{scheme-name}}
# Scheme author: {{scheme-author}}
# Template author: Victor Borja <vborja@apache.org> (https://github.com/vic)

"text" = { fg = "#{{base05-hex}}", bg = "#{{base00-hex}}" }
"dimmed" = { fg = "#{{base03-hex}}" }
"selected" = { bg = "#{{base02-hex}}", fg = "#{{base0A-hex}}" }
"border" = { fg = "#{{base03-hex}}" }
"title" = { fg = "#{{base01-hex}}", bold = true }
"shortcut" = { fg = "#{{base0E-hex}}" }
"matched" = { fg = "#{{base0A-hex}}", underline = true }
"source_marker" = { bg = "#{{base02-hex}}", fg = "#{{base05-hex}}" }
"target_marker" = { bg = "#{{base01-hex}}", fg = "#{{base05-hex}}" }
"revisions rebase source_marker" = { bold = true }
"revisions rebase target_marker" = { bold = true }
"status" = { bg = "#{{base00-hex}}" }
"status title" = { fg = "#{{base00-hex}}", bg = "#{{base01-hex}}", bold = true }
"status shortcut" = { fg = "#{{base0E-hex}}" }
"status dimmed" = { fg = "#{{base03-hex}}" }
"revset text" = { bold = true }
"revset completion selected" = { bg = "#{{base02-hex}}", fg = "#{{base0A-hex}}" }
"revset completion matched" = { bold = true }
"revset completion dimmed" = { fg = "#{{base03-hex}}" }
"revisions selected" = { bold = true }
"oplog selected" = { bold = true }
"evolog selected" = { bg = "#{{base02-hex}}", fg = "#{{base0A-hex}}", bold = true }
"help" = { bg = "#{{base00-hex}}" }
"help title" = { fg = "#{{base01-hex}}", bold = true, underline = true }
"help border" = { fg = "#{{base03-hex}}" }
"menu" = { bg = "#{{base00-hex}}" }
"menu title" = { fg = "#{{base01-hex}}", bold = true }
"menu shortcut" = { fg = "#{{base0E-hex}}" }
"menu dimmed" = { fg = "#{{base03-hex}}" }
"menu border" = { fg = "#{{base03-hex}}" }
"menu selected" = { bg = "#{{base02-hex}}", fg = "#{{base0A-hex}}" }
"confirmation" = { bg = "#{{base00-hex}}" }
"confirmation text" = { fg = "#{{base05-hex}}" }
"confirmation selected" = { bg = "#{{base02-hex}}", fg = "#{{base0A-hex}}" }
"confirmation dimmed" = { fg = "#{{base03-hex}}" }
"confirmation border" = { fg = "#{{base01-hex}}" }
"undo" = { bg = "#{{base00-hex}}" }
"undo confirmation dimmed" = { fg = "#{{base03-hex}}" }
"undo confirmation selected" = { bg = "#{{base02-hex}}", fg = "#{{base0A-hex}}" }
"preview" = { fg = "#{{base05-hex}}" }
